.list {
  margin-left: 40px;
  list-style: none;
  width: 400px;
  padding: 0;
}
.list li::before {
  content: '🐱‍👤';
  margin-right: 4px;
}
.item {
  padding: 0 10px;
  margin-bottom: 10px;
}
.button {
  margin-left: 30px;
  border-radius: 3px;
  border: none;
  background-color: rgb(142, 168, 240);
  color: aliceblue;
}
.button:hover {
  background-color: brown;
}
